<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.fsk.mynotes"
      android:versionName="2.1"  android:installLocation="auto" android:versionCode="6">
    <application android:label="@string/app_name"
                 android:icon="@drawable/my_icon">
         <activity android:name=".presentation.activity.Splash"
				  android:configChanges="keyboard|keyboardHidden|orientation"
         		  android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".presentation.activity.Main"
				  android:configChanges="keyboard|keyboardHidden|orientation"/>
         		  
        <activity android:name=".presentation.activity.NoteEditActivity"
        		  android:theme="@android:style/Theme.Dialog"
				  android:configChanges="keyboard|keyboardHidden|orientation"/>
    </application>

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.SEND_SMS"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.GET_TASKS"/>
   	<uses-permission android:name="android.permission.READ_CONTACTS"/>
</manifest> 